
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$yellow: #E7c969;
$gray: #757763;
$gray-dark: #3e3e3e;
$gray-light: #f4f3f3;
$black: #283131;
$red: #F6393E;
$green: #54b938;
$blue: #1981F0;

// Update Bulma's global variables
$family-sans-serif: monospace, sans-serif;
$grey-dark: $gray;
$grey-light: $beige-light;
$primary: $gray-light;
$warning: $yellow;
$success: $yellow;
$secondary: $gray;
$link: $blue;
$info: $beige-light;
$danger: $gray-dark;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Modal
$modal-content-width: 700px;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma";
